[include]
    path = ~/.gitconfig.local

[color]
    ui = auto

[pull]
    default = tracking

[push]
    default = tracking

[core]
    excludesfile = ~/.gitignore.local

[alias]
    # flow
    fl = flow

    # status
    st  = status
    sh  = show
    sb  = show-branch
    rso = remote show origin

    # diff
    df = diff          # index - working tree : diff
    ds = diff --cached # head - index         : diff staged
    dh = diff HEAD     # head - working tree  : diff head
    dw = diff --color-words

    # commit
    ad = add .
    us = reset HEAD #unstage
    ci = commit
    ca = commit --amend
    ss = stash

    # branch
    br = branch
    co = checkout
    mg = merge --no-ff --no-edit
    tg = tag

    # merge
    rb = rebase
    rv = revert --no-edit
    rs = reset
    rl = reflog

    # remote
    ft   = fetch
    pl   = pull
    plom = pull origin master
    plod = pull origin dev

    ps   = push -u
    psom = push -u origin master
    psod = push -u origin dev

    # log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all

    #config
    cf = config
    cfg = config --global

    #hub
    se = browse
    si = browse -- issues
    pr = pull-request
    is = issue
    ic = issue create

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[ghq]
    root = ~/ghq

[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
