[include]
    path = ~/.gitconfig.local

[color]
    ui = auto

[pull]
    default = tracking

[push]
    default = tracking

[core]
    excludesfile = ~/.gitignore.local

[alias]
    # status
    st  = status
    sh  = show

    # diff
    df = diff          # index - working tree : diff
    ds = diff --cached # head - index         : diff staged
    dh = diff HEAD     # head - working tree  : diff head
    dw = diff --color-words

    # commit
    ad = add .
    us = reset HEAD #unstage
    ci = commit
    ca = commit --amend
    ss = stash

    # code
    rs = restore

    # branch
    br = branch
    sw = switch
    mg = merge --no-ff --no-edit
    rb = rebase
    rv = revert --no-edit

    # remote
    ft   = fetch
    pl   = pull
    ps   = push -u
    plom = pull origin master

    # log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all

    #config
    cf = config
    cfg = config --global

[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true

[ghq]
    root = ~/ghq

[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
